body{
    font-family: Arial, sans-serif;
}

/* header */

.top-nav{
    height: 25px;
}

.my-btn-nav{
    background-color: #363636;
    color: white;
    border-radius: 35px;
    padding: 5px 8px;
}

/* main */

.my-hero-section{
    background-image: url(../img/jumbo-bg.png);
    background-position: center top;
    min-height: 500px;
}

.my-h2-banner{
    color: white;
    font-size: 2.5rem;
}

.my-p-banner{
    color: white;
}

.my-banner{
    padding-top: 250px;
}

.my-banner-btn{
    background-color: #cd3d0f;
    color: white;
    padding: 3px 7px;
    border-radius: 15px;
}

.my-card{
    border: none;
}

.my-card-img{
    border-radius: 15px;
}

.active::before{
    content: "";
    border: 2px solid #78b4e5;
    position: absolute;
    left: 8px;
    top: -3px;
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    border-radius: 16px;
}

.banner-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center top;
    min-height: 500px;
}

.my-blue-border{
    border-bottom: 2px solid #147cd1;
}

.nuove-uscite{
    background-color: #1f1f1f;
}

.nuove-uscite-card{
    border-radius: 20px;
}

.ps-plus-bg{
    background-color: #bebcbb;
}

.btn-ps-plus{
    background-color: #d9dadc;
    color: #2d64e6;
    border-radius: 20px;
    max-width: 300px;
}


.ps-now-bg{
    background-color: #161c3b;
}

.btn-ps-now{
    background-color: white;
    color: #161c3b;
    border-radius: 20px;
}


/* Footer */

footer{
    background-color: #00439c;
}

.globe-footer{
    max-width: 20px;
}

footer ul{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}


/* section */

.section-small{
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-medium{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-large{
    padding-top: 70px;
    padding-bottom: 70px;
}



/* Section Inner Elements */

.section-super {
    font-size: .9rem;
    text-transform: uppercase;
    color: #117bd1;
  }

.section-title {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.section-title-small {
  margin-bottom: 10px;
  font-size: 2rem;
  color: white;
}

.section-subtitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #757575;
}

.section-text {
  margin-bottom: 30px;
}

.section-btn{
    background-color: #2d64e6;
    color: white;
    border-radius: 18px;
}